#common configuration shared between all applications
configserver:
  name: Docker JHipster Registry
  status: Connected to the JHipster Registry running in Docker

jhipster:
  security:
    authentication:
      jwt:
        base64-secret: MzkzYjFlMjdlNGY1YzU0NTI5MDc5ZjI4MWE2ZDdkNDBlZTA1MzZkNzcwMDUxZWY1ZWQ2ZmYxZTE0N2EyYzMxNWRjOWQ3MDIxOTJhMTg5MzVlMmNmMmUyYjlmYTEzZWI5MjYzZQ==
eureka:
  client:
    service-url:
      defaultZone: http://admin:${jhipster.registry.password}@localhost:8761/eureka/
