# Common configuration shared between all applications
configserver:
  name: Docker JHipster Registry
  status: Connected to the JHipster Registry running in Docker

jhipster:
  security:
    authentication:
      jwt:
        # secret key which should be base64 encoded and changed in production
        base64-secret: ZGE5NmExZTU5ZjgxOGNlZTNjNDkyYzU0NThlMzQ5MGYwMDA0NzI0YzVjY2YzZWExOTA4NjQxMTBjODM0M2FmOTZkNTcyM2I3NjVjY2EzOWMxODYwMDQ3OTIzNjYwYzdkMDE4ZGZlNDNjOWZiYzM5Yjc4N2UzNGYzZmU3NWZhMTE=

eureka:
  client:
    service-url:
      defaultZone: http://admin:${jhipster.registry.password}@localhost:8761/eureka/
